h2 {
  color: #426f8d;
}

.character {
  padding: 2rem 0;
  border: 1px solid white;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.character__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

